@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  /* Brand Colors */
  --primary: #e14026;
  --primary-foreground: #ffffff;

  --secondary: #f0fdf4;
  /* Light Green Tint */
  --secondary-foreground: #15803d;
  /* Green 700 */

  --font-inter: 'Inter', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  zoom: 90%;
}